.todo-card-box {
    background-color: var(--color-base-1);
    padding: var(--space-s);
    color: var(--color-base-7);
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}

.c-todo-card {
    color: var(--color-base-7);
    cursor: pointer;
}

@import '_todo-card-labels.scss';
@import '_todo-card-content.scss';
@import '_todo-card-footer.scss';