$navbar-horizontal-padding: var(--space-xl);

.navbar {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-base-1);
  padding: var(--space-s) $navbar-horizontal-padding;
  box-shadow: 0px 8px 49px -2px #B8BBCD;
}

.navbar__links {
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(243, 243, 237);
  width: 100%;
  padding: var(--space-m) $navbar-horizontal-padding;
  list-style: none;
  gap: var(--space-xl);
  transition: 0.5s;
}

.hidden {
  left: -100%;
}

.shown {
  left: 0%;
}


@media screen and (min-width: 480px) {
  .navbar__links {
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
  }
}